<div id="welcome" class="hero-unit span7">
  <h1>Design My DIY</h1>
  <h4>You're not afraid to put in the sweat to redo your house.
  	  Your problem is that you just don't know where to start. We're here to help with that.
  </h4>
  <h4>Sure, you could call an interior designer to come into your house and give you all 
  	  sorts of ideas.  But maybe you don't have that much budget flexibility, or there
  	  aren't any interior designers in your area.
  </h4>	
  <h4>By signing up with Design My DIY, you can have access to a network of professional
  	  designers from across the United States.    
  </h4>	
</div>
